@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body {
  background-color: rgba(237, 237, 237, 255);
}

.card-box:hover{
    box-shadow: rgba(149,157,165, 0.3) 0 8px 24px;

}
.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

.column {
    background-color: white;
}

.btn{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;

}

